{% extends "::base.html.twig" %}

{% block title %}AppBundle:Student:show{% endblock %}

{% block body %}
<h1>Welcome to the Student:show page</h1>

<p>
	First name: {{ student.firstName }}<br />
	Last name: {{ student.lastName }}<br />
	Serial number: {{ student.serialNumber }}<br />
	Birth date: {{ student.birthDate | date('d-m-Y') }}<br />
	City: {{ student.city }}
</p>

<a href="{{ path('student_index') }}">Back to the list</a>

{% endblock %}
